<!DOCTYPE html>
<html>
<head>
  <title>Hollistic To-Do DEBUG</title>
</head>
<body>
  <h1>DEBUG PAGE - <%= version %></h1>
  <p>This is a simple Node.js application running on Home Assistant.</p>
  <p><a href="/">Go to Main Page</a></p>

<button id="btnSomething">Call API /debug/api/something?testvalue=true</button>
<script>
document.getElementById('btnSomething').onclick = async function() {
  const res = await fetch('/debug/api/something?testvalue=true');
  const data = await res.json();
  alert(JSON.stringify(data));
};
</script>

<button id="btnRemoveDbUser">Call API /debug/api/removedb?db=user</button>
<script>
document.getElementById('btnRemoveDbUser').onclick = async function() {
  const res = await fetch('/debug/api/removedb?db=user');
  const data = await res.json();
  alert(JSON.stringify(data));
};
</script>

<button id="dlTodoDB">download user.db</button>
<script>
document.getElementById('dlTodoDB').onclick = async function () {
  const res = await fetch('/debug/api/download-todo');
  if (!res.ok) {
    alert("Error downloading file");
    return;
  }

  const blob = await res.blob();
  const url = window.URL.createObjectURL(blob);
  const a = document.createElement('a');
  a.href = url;
  a.download = 'todo.db'; // file name for save dialog
  document.body.appendChild(a);
  a.click();
  a.remove();
  window.URL.revokeObjectURL(url);
};
</script>


</body>
</html>