<!DOCTYPE html>
<html>
<head>
  <title>Hollistic To-Do</title>
</head>
<body>
  <h1>Welcome to the Hollistic To-Do App</h1>
  <p>This is a simple Node.js application running on Home Assistant.</p>
  <p>Version: <%= version %></p>
  <p><a href="/info">Go to Info Page</a></p>
</body>
</html>