<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <h1>Welcome to the Landing Page</h1>
  <p>This is a simple Node.js application running on Home Assistant.</p>
  <p>Version: <%= version %></p>
  <p><a href="/info">Go to Info Page</a></p>
  <p><a href="/info2">Go to Info Page 2 (config)</a></p>
  <p><a href="/info3">Go to Info Page 3 (ssl)</a></p>
  <p><a href="/info4">Go to Info Page 4</a></p>
</body>
</html>